html {
	margin:0;
	padding:0;
	height:100%;
	width:100%;
}
body {
	margin:0;
	padding:0;	
}

header {
	margin:0;
	padding:0;
	height:150px;
	background:#4372A4 ;
}

header h2 {
	margin:0;
	padding:0;
}

main{
	width:70%;
	float:left;
}

nav {
	margin:0;
	float:left;
	width:300px;
	background:#89B7E1;
	height:300px;
}

footer{
	clear:both;
	text-align:center;
	background:#175ABB;
	height:40px;
	padding:1em;

}